@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

//font-family: 'Inter', sans-serif;
//font-family: 'Roboto', sans-serif;

//colors

:root {
 --bg-dark:#0B0911;
 --bg-light-dark:  #1C162C;

 --white: #FFFFFF;

 --purple-one: #8257E5;
 --purple-two: #9674E5;

 --purple-dark: #3C3748;
 --purple-dark-light: #6A617F;

}